#containerNewActiv{
margin: auto;
    width: 50%;
    padding: 20px;
    margin-top: 4%;
    background-color: white;
    opacity: 0.9;
    box-sizing: border-box;
}
#containerNewActiv label{
    color:  #f88f01;
    font-weight: 900;
}
#saveBtn{
position: relative;
left:40%;
color:  #f88f01;
font-weight: 900;
border: 4px solid  #f88f01;
padding-right:10% ;
transition: 0.5s;
}
#saveBtn:hover{
    color: #FFF;
    background-color: #f88f01;  
}
#titleActiv{
    font-family: 'Prata', serif;
    font-size: 35px;
    padding: 2%;
    text-align: center;
    color: #FFF;
    background: rgb(248,143,1);
    background: linear-gradient(180deg, rgba(248,143,1,1) 0%, rgba(255,226,39,1) 100%);
}