.header{
  display: flex;
  justify-content: space-between;
}
#logo{
  display: flex;
}
#logOutBtn{
  color: #b9fffc;
}
#pageRect{
  background-image: url("./img/wave.jpg");
  background-size: cover ;
  min-height: 100%; 
  position: absolute;
  width: 100%;
}
#titleHeader{
  color: white;
  font-family: 'Rock Salt', cursive;
padding-left: 2px;
}
#rectTot button{
    width: 26%;
    margin: 0.2%;
    background-color: #1a508b;
}
#rectTot button:hover{
    background-color: #09015f;
}
.reaction{
width:100%;
height:100%;
}
#rect1, #rect2{  
    display: flex; 
}

#rectTot{
    margin-left: 30%;
    margin-right: auto;
width: 70%;
margin-top: 1%;
    display: block;
}
#rect1 button,#rect2 button,#rect3 button,#rect4 button{
margin: 5px;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* adaugat */
  #snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
    /* adaugat */
  #snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  #detalii{
    display: flex;
    justify-content: center;
    align-items: center
  }

  #studentView{
    display:inline;
  }

  #profView{
    display: flex;
  }
  #containerReact input{
    width: 80%;
    opacity: 0.8;
  }
  #containerReact label{
    font-size: 20px;
    color: #09015f;
    margin-right: 10px;
    font-weight: bold;

  }
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }