#passwordReg, #emailReg, #lastnameReg,#firstNameReg{
width:92%;
border: 0;
font-size: 12px;
border-bottom: 2px solid #51c2d5;
}
#titleReg{
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  color: white;
  background: linear-gradient(180deg, rgba(3,80,111,1) 0%, rgba(172,225,255,1) 100%);
}
.header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  background-color: #111d5e;
}

